services:
  postgres-db:
    image: postgres:17-alpine
    container_name: dreamshop-postgres
    restart: always
    environment:
      - POSTGRES_DB=msvc_products
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password123
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: